petabridge.cmd{
  host = "0.0.0.0"
  port = 9110
}

akka {
  coordinated-shutdown.exit-clr = on
  actor {
    provider = cluster
	deployment{
	  /router{ 
        router = round-robin-group
        routees.paths = ["/user/orders"]
        cluster{
          enabled = on
          allow-local-routees = on
        }
      }
    }
	
	persistence {
	  journal {
	    plugin = "akka.persistence.journal.mongodb"
		mongodb {
			class = "Akka.Persistence.MongoDb.Journal.MongoDbJournal, Akka.Persistence.MongoDb"
			connection-string = "mongodb://myuser:secret@mongodb:27017/webshop"
			collection = "EventJournal"

			auto-initialize = off
			plugin-dispatcher = "akka.actor.default-dispatcher"
			metadata-collection = "Metadata"
		}
	}

	snapshot-store {
		plugin = "akka.persistence.snapshot-store.mongodb"
		mongodb {
			class = "Akka.Persistence.MongoDb.Snapshot.MongoDbSnapshotStore, Akka.Persistence.MongoDb"
			connection-string = "mongodb://myuser:secret@mongodb:27017/webshop"
			collection = "SnapshotStore"

			auto-initialize = off
			plugin-dispatcher = "akka.actor.default-dispatcher"
		}
	  }
   }
  }
  
  remote {
    dot-netty.tcp {
      hostname = "0.0.0.0"

      # the values below this comment may be overridden by Akka.Bootstrap.Docker at runtime
      public-hostname = "localhost"
      port = 4053
      }
  }            

  cluster {
    roles = [demo]

    #Docker bootstrapper may override this at runtime
    seed-nodes = ["akka.tcp://amazing@localhost:4053"] 
    
  }

  